02_Data_Acquisition_Tool/CubeMonitor_Setting.json
[
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "1ebbb430.dac7dc",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "myChart",
        "order": 4,
        "width": 15,
        "height": 9,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 1160,
        "y": 420,
        "wires": []
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "probeconfig": "e9b89e09ea073fae",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "probeconfig": "e9b89e09ea073fae",
        "x": 610,
        "y": 380,
        "wires": [
            [
                "a7c3e070.5a6c"
            ],
            []
        ]
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "accesspoint": 0,
        "execonfig": "59d46793408556ef",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "W_n",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1772300312124,
        "openStatus": true,
        "x": 890,
        "y": 220,
        "wires": [
            [
                "6013fb0b.5b7504"
            ],
            [
                "f14d0398.f1861"
            ]
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "topicType": "str",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "a5d39d5e3c015071",
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "topicType": "str",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "f14d0398.f1861",
        "type": "ui_toast",
        "z": "7b9ed63e.2138f8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1110,
        "y": 260,
        "wires": []
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "full",
        "logformat": "stcm",
        "x": 910,
        "y": 380,
        "wires": [
            [
                "1ebbb430.dac7dc",
                "670fd4b22900829b"
            ],
            []
        ]
    },
    {
        "id": "fc00295e.79ada8",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Graphs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "x": 990,
        "y": 560,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ]
        ]
    },
    {
        "id": "ba5a09506946b415",
        "type": "file",
        "z": "7b9ed63e.2138f8",
        "name": "Export_File",
        "filename": "C:\\Users\\Akkarasaknarong\\Documents\\GitHub\\F2-2_FRA233_Lab2_Control_System_Designing\\Lab_Result_Data\\Part1 HIL DC Motor\\CMoni_AnguVelo_1.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1310,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "670fd4b22900829b",
        "type": "csv",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1150,
        "y": 340,
        "wires": [
            [
                "ba5a09506946b415"
            ]
        ]
    },
    {
        "id": "a5d39d5e3c015071",
        "type": "delay",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "52eadfe3.2c8cc"
            ]
        ]
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "e9b89e09ea073fae",
        "type": "probe",
        "probeid": "0028002A3133511237363734",
        "probename": "ST-Link v3 0028002A3133511237363734",
        "protocol": "SWD",
        "frequency": "24000 kHz",
        "probeproperty": "{\"SWD\":[\"24000 kHz\",\"8000 kHz\",\"3300 kHz\",\"1000 kHz\",\"200 kHz\",\"50 kHz\",\"5 kHz\"],\"JTAG\":[\"21333 kHz\",\"16000 kHz\",\"12000 kHz\",\"8000 kHz\",\"1777 kHz\",\"750 kHz\"]}",
        "probeversion": "ST Link firmware version V3.J16",
        "connectionType": "p2p",
        "nickname": "474RE"
    },
    {
        "id": "59d46793408556ef",
        "type": "exe-config",
        "name": "Variable",
        "exefile": "C:\\Users\\Akkarasaknarong\\STM32CubeIDE\\workspace_1.19.0\\F2-2_FRA233_Lab2\\Debug\\F2-2_FRA233_Lab2.elf",
        "exefolder": "C:\\Users\\Akkarasaknarong\\STM32CubeIDE\\workspace_1.19.0\\F2-2_FRA233_Lab2\\Debug",
        "exevariablelist": [
            {
                "address": "0x08003110",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000020",
                "name": "amp_sine",
                "type": 9
            },
            {
                "address": "0x20000008",
                "name": "Bm",
                "type": 9
            },
            {
                "address": "0x200000b8",
                "name": "c_V2",
                "type": 9
            },
            {
                "address": "0x200000b0",
                "name": "c_W1",
                "type": 9
            },
            {
                "address": "0x200000b4",
                "name": "c_W2",
                "type": 9
            },
            {
                "address": "0x2000001c",
                "name": "freq_sine",
                "type": 9
            },
            {
                "address": "0x20000068",
                "name": "htim3.Channel",
                "type": 2
            },
            {
                "address": "0x20000090",
                "name": "htim3.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x2000008a",
                "name": "htim3.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20000094",
                "name": "htim3.DMABurstState",
                "type": 2
            },
            {
                "address": "0x2000006c",
                "name": "htim3.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20000064",
                "name": "htim3.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x2000005c",
                "name": "htim3.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20000054",
                "name": "htim3.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20000058",
                "name": "htim3.Init.Period",
                "type": 5
            },
            {
                "address": "0x20000050",
                "name": "htim3.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20000060",
                "name": "htim3.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "htim3.Instance",
                "type": 5
            },
            {
                "address": "0x20000088",
                "name": "htim3.Lock",
                "type": 2
            },
            {
                "address": "0x20000089",
                "name": "htim3.State",
                "type": 2
            },
            {
                "address": "0x2000000c",
                "name": "Jm",
                "type": 9
            },
            {
                "address": "0x20000014",
                "name": "ke",
                "type": 9
            },
            {
                "address": "0x20000010",
                "name": "km",
                "type": 9
            },
            {
                "address": "0x20000004",
                "name": "L",
                "type": 9
            },
            {
                "address": "0x20000000",
                "name": "R",
                "type": 9
            },
            {
                "address": "0x20000024",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "t",
                "type": 9
            },
            {
                "address": "0x20000018",
                "name": "Ts",
                "type": 9
            },
            {
                "address": "0x200000c0",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "uwTickFreq",
                "type": 5
            },
            {
                "address": "0x20000028",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "V_n",
                "type": 9
            },
            {
                "address": "0x200000a8",
                "name": "V_n1",
                "type": 9
            },
            {
                "address": "0x200000ac",
                "name": "V_n2",
                "type": 9
            },
            {
                "address": "0x20000098",
                "name": "W_n",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x2000009c",
                "name": "W_n1",
                "type": 9
            },
            {
                "address": "0x200000a0",
                "name": "W_n2",
                "type": 9
            }
        ],
        "expand": false,
        "filename": "F2-2_FRA233_Lab2.elf",
        "exeModifiedTime": 1772291386998,
        "configLastUpdate": 1772291721005
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9df28d1c9f9da5c8",
        "type": "global-config",
        "env": [],
        "modules": {
            "@stm32/node-red-contrib-stm32cubemonitor": "2.5.0",
            "node-red-dashboard": "3.6.5"
        }
    }
]